.day-name {
    border: 1px solid rgb(34, 1, 49);
    padding: 10px;
    height: 50px;
    background-color: rgb(51, 1, 75);
    color: white;
  }
  .day-number {
    border: 1px solid rgb(51, 1, 75);
    padding: 10px;
    height: 100px;
    cursor: pointer;
  }
  .available {
    background-color: rgb(177, 163, 252);
  }
  .lavender-btn {
    background-color: rgb(51, 1, 75) !important;
    border-color: rgb(51, 1, 75) !important;
  }
  .lavender-btn:hover {
    background-color: rgb(191, 39, 238) !important;
    border-color: rgb(191, 39, 238) !important;
  }